/.StoryGeneratorIdeModule.java._trace
/.StoryGeneratorIdeModule.xtendbin
/.StoryGeneratorIdeSetup.java._trace
/.StoryGeneratorIdeSetup.xtendbin
/StoryGeneratorIdeModule.java
/StoryGeneratorIdeSetup.java
