/.StoryGeneratorRuntimeModule.java._trace
/.StoryGeneratorRuntimeModule.xtendbin
/.StoryGeneratorStandaloneSetup.java._trace
/.StoryGeneratorStandaloneSetup.xtendbin
/StoryGeneratorRuntimeModule.java
/StoryGeneratorStandaloneSetup.java
