<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.ufes.br/inf/mdd/trab2/StoryGenerator"
			class = "br.ufes.inf.mdd.trab2.storyGenerator.StoryGeneratorPackage"
			genModel = "model/generated/StoryGenerator.genmodel" />
	</extension>
</plugin>
