/.StoryGeneratorDescriptionLabelProvider.java._trace
/.StoryGeneratorDescriptionLabelProvider.xtendbin
/.StoryGeneratorLabelProvider.java._trace
/.StoryGeneratorLabelProvider.xtendbin
/StoryGeneratorDescriptionLabelProvider.java
/StoryGeneratorLabelProvider.java
